@import './variables';

.container {
  margin-bottom: $spacing-base;
  margin-top: $spacing-base / 2;
}

// override semantic-ui defaults
.ui.form .fields .field {
  @media only screen and (max-width: $screen-lg-max) {
    margin-bottom: $spacing-text;
  }
}

.ui.list > .item .description {
  color: $gray-medium;
}
