.page-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 0;
}

.page-header .header {
  text-align: center;
  width: 100%;
}

.page-header .toolbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.page-header .toolbar button {
  white-space: nowrap;
}

@media only screen and (max-width: 480px) {
  .page-header .header-data span {
    display: block;
  }
}


@media only screen and (min-width: 481px) {
  .page-header .header-data span {
    display: inline-block;
    white-space: nowrap;
  }

  .page-header .header-data > span + span::before {
    content: "|";
    margin: 0 10px;
  }
}
