.new-item {
  margin-bottom: 30px;
}

.new-item textarea {
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}

.new-item .button-row {
  display: flex;
  justify-content: flex-end;
}

.new-item .button-row button {
  margin-left: 8px;
}

@media only screen and (max-width: 767px) {
  .new-item .form .fields .field {
      margin-bottom: 10px;
  }
}
