@import './variables';

.new-item {
  margin-bottom: $spacing-base;

  .required {
    color: $gray-medium;
    font-weight: normal;
  }

  textarea {
    font-family: $font-family-base;
  }

  .button-row {
    display: flex;
    justify-content: flex-end;

    button + button {
      margin-left: $spacing-base / 4;
    }
  }
}
