.todo-item button {
  margin-bottom: 10px;
}

.todo-item .content .header .date {
  font-weight: normal;
}

@media only screen and (min-width: 641px) {
  .todo-item.item > .content > .header {
    display: flex;
    width: 100%;
  }

  .todo-item .content .header .date {
    margin-left: 20px;
    white-space: nowrap;
  }
}

@media only screen and (max-width: 640px) {
  .todo-item .content .header p {
    margin-bottom: 10px;
  }
}
