// font-family
$font-family-base: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;

// colors
$gray-light: #dededf;
$gray-medium: #6e6e6e;

// breakpoints
$screen-sm-max: 480px;
$screen-md-min: $screen-sm-max + 1;
$screen-md-max: 640px;
$screen-lg-min: $screen-md-max + 1;
$screen-lg-max: 768px;

// spacing
$spacing-base: 1em;
$spacing-text: $spacing-base / 2;
